@using System.Web.Optimization
@using RceDoorzoeker
@using RceDoorzoeker.Configuration
@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<title>RCE Dóórzoeker</title>

	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />

	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />

	<meta name="format-detection" content="telephone=no" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<link rel="stylesheet" href="~/Content/bootstrap.min.css" />

	@Styles.Render("~/Content/css")

	<script type="text/javascript">
		if (navigator.userAgent.match(/IEMobile\/10\.0/)) {
			var msViewportStyle = document.createElement("style");
			var mq = "@@-ms-viewport{width:auto!important}";
			msViewportStyle.appendChild(document.createTextNode(mq));
			document.getElementsByTagName("head")[0].appendChild(msViewportStyle);
		}
	</script>
</head>

<body ng-app="App">
	<div class="wrapper">
		<div class="splash text-center" ng-cloak>
			<div class="header">
				<h1><img src="~/Content/images/doorzoeker-logo-2a.png" alt="Dóórzoeker - Erfgoed digitaal" /></h1>
				<i class="fa fa-spinner fa-5x fa-spin active"></i>
			</div>
		</div>
		<div class="main-container" ng-controller="AppController" ng-cloak>
			<div class="container">
				<div class="row">
					<div class="col-md-3">
						<div class="loader"><i class="fa fa-spinner fa-3x fa-spin active" ng-if="appstate.navigating"></i></div>
					</div>
					<div class="col-md-9 header">
						<h1><img src="Content/images/doorzoeker-logo-2a.png" alt="Dóórzoeker - Erfgoed digitaal" /></h1>
					</div>
				</div>
				<div ng-view=""></div>
			</div>
		</div>
	</div>
	<div class="footer">
		<div class="container">
			<p class="row disclaimer">Deze doorzoeker is een proof-of-concept om het verbinden van data te demonstreren. Aan de data kunnen geen rechten ontleend worden.</p>
		</div>
	</div>

	<script src="@String.Format("http://maps.google.com/maps/api/js?v=3&sensor=false&key={0}&region=NL", DoorzoekerConfig.Current.GoogleMapsApiKey)"></script>

	@Scripts.Render("~/bundled/doorzoeker")

	@if (MvcApplication.ReleaseBuild)
	{
		// ToDo: Needed?
	}
	else
	{
	}

	@if (DoorzoekerConfig.Current.GoogleAnalytics != null)
	{
		<script>
			(function (i, s, o, g, r, a, m) {
				i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
					(i[r].q = i[r].q || []).push(arguments)
				}, i[r].l = 1 * new Date(); a = s.createElement(o),
					m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
			})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

			ga('create', '@DoorzoekerConfig.Current.GoogleAnalytics.Code', '@DoorzoekerConfig.Current.GoogleAnalytics.Website');
			ga('send', 'pageview');

		</script>
	}
</body>

</html>
